.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.full {
  min-height: 100vh;
}

.fit .img {
  width: 350px;
}

.title {
  margin-bottom: 16px;
}

.img {
  max-width: 100%;
  width: 400px;
}
